.countries__list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px 0 25px 0;
    animation-name: list;
    animation-duration: 1s;
    @keyframes list{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}
.countries__list-seacrh{
    color:darkred;
    font-size: 24px;
    animation-name: list;
    animation-duration: 1s;
    @keyframes list{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}


